   html, body {
      display: flex;
      font-family: Arial, sans-serif;
      margin: 0;
      height: 100%;
    }

    .layout {
	  display: flex;
	  height: 100vh;
	  flex-direction: row;
	  width:100%;
    }

    #device-bar {
	  flex-shrink: 0;
	  display: flex;
	  width: 280px;
	  flex-direction: column;
	  background-color: #588157;
	  text-align: left;
	  overflow-y: auto;
     }
    .sidebar {
     background-color: #588157;
     color: white;
     padding: 20px;
     overflow-y: auto;
     }
    .logo {
      background-color: white;
      color: #2d5b3b;
      border-radius: 50%;
      margin: 25px auto 0px;
      padding: 10px;
      width: 100px;
      height: 100px;
      display: flex;
    }
    #morelia {
      font-family: "Playfair Display", sans-serif; 
      font-size: 50px;
      margin-bottom: 20px;
      text-align: center;
    }
    a:link {
  	color: white;
	text-decoration: none;
    }
    
    a:visited {
	color: white;
	text-decoration: none;
    }

    a:hover {
	color: #A3B18A;
	text-decoration: underline;
    }


    .sidebar input[type="text"],
    .sidebar select, .sidebar button {
      width: 100%;
      margin-bottom: 10px;
      max-height: 150px;
    }
    .main-content {
      background-color: #f4f4f4;
      flex-grow: 1;
      padding: 20px;
      overflow-y: auto;
      min-width: 0;
    }
    .settings-bar {
      background-color: #D9D9D9;
      flex-grow: 1;
      padding: 5px;
      margin-bottom: 20px;
      border-top: 1px solid #B7B6B6; 
      border-bottom: 1px solid #B7B6B6;
      color: #588157;
    }

        .footer-bar {
	  position: fixed;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  height: 40px;  
	  background-color: #222;
	  color: #588157;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  font-size: 14px;
	  z-index: 1000; 
	}


    .device_type_
    fieldset {
      border: 1px solid #ccc;
      padding: 15px;
      margin-bottom: 20px;
      background-color: white;
    }
    legend {
      font-weight: bold;
    }

    .form-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
    .form-buttons button {
      padding: 5px 15px;
    }


#device-type {
  position: absolute;
  bottom: 2%;
  left: 5%;
  background-color: #D9D9D9;
  height: 73vh;
  width: 90%;
}

.success {
    color: green;
}
.error {
    color: red;
}
