<!DOCTYPE html>
<html>
<head>
  <title>Pod8401HR Device Config</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
  <style>
	@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
  </style>
</head>
<body>
  <div class="sidebar" id="device-bar">
    <img class="logo" src="https://media.licdn.com/dms/image/v2/D560BAQG9I395oxYI5w/company-logo_200_200/company-logo_200_200/0/1712162628607/pinnacle_technology_inc_logo?e=2147483647&v=beta&t=Wl2Gb4isQgj6UHdQl3qJOOrUPaWysx0FxuWh9GyN_v8"></img>
    <h1 id="morelia"><a href="/" target="_self">Morelia</a></h1>
    <label for="device_type">Device Type</label>
    <select id="device_type" size="5" onchange="goToPage()">
      <option value="/Pod8206HR">Pod8206HR</option>
      <option value="/Pod8229">Pod8229</option>
      <option value="/Pod8274D">Pod8274D</option>
      <option value="/Pod8401HR"selected>Pod8401HR</option>
      <option value="/Pod8480SC">Pod8480SC</option>
    </select>   
    <button id="load_config" type="button" onclick="document.getElementById('config-file').click();">Load Device Configuration</button>

    <form id="load-config-form" action="/load_config" method="post" enctype="multipart/form-data" style="display: none;">
      <input type="file" id="config-file" name="config_file" accept=".toml" onchange="document.getElementById('load-config-form').submit();">
    </form>

    <button id="clear_config" type="button" style="background-color: #B7B6B6" onclick="clearLoadedConfig()" {% if not session.get("loaded_config") %}disabled{% endif %}>
    Clear Loaded Configuration</button>
    
    <button id="save_config" type="submit" form="device-form" style="background-color: #A3B18A">Save Device Configuration</button>

  </div>

  <div class="main-content" id="device-config">
    <h2>Devices | Configuration</h2>
  <div class="settings-bar">
    <h3 style="margin:10px;">Settings > 8401HR</h3>
  </div>

  <form id="device-form" action="/submit4" method="post">
    <label for="config_name">Config. File Name</label>
    <input type="text" name="filename" id="filename" placeholder="Untitled" 
          value="{{ session.get('loaded_config', {}).get('filename', '') }}">

    <!-- Information Fieldset -->
    <fieldset id="information">
      <legend>Information</legend>
      <label>Firmware Version: X.X.X</label><br>
      <label>Sample Rate (Hz)</label>
      <select name="sample_rate" id="sample_rate">
        <option value="400" {% if session.get('loaded_config', {}).get('information', {}).get('sample_rate', '') == '400' %}selected{% endif %}>400</option>
        <!-- Add more sample rates here if needed -->
      </select>
      <label>Preamp Gain</label>
      <select name="preamp_gain" id="preamp_gain">
        <option value="100" {% if session.get('loaded_config', {}).get('information', {}).get('preamp_gain', '') == '100' %}selected{% endif %}>100</option>
        <!-- Add more preamp gain options if needed -->
      </select>
    </fieldset>

    <!-- Channel Names -->
    <fieldset id="channel_names">
      <legend>Channel Names</legend>
      <label>Channel 1</label>
      <input type="text" name="channel_1" id="channel_1" 
            value="{{ session.get('loaded_config', {}).get('channel_names', {}).get('channel_1', 'EEG1') }}">
      <label>Channel 2</label>
      <input type="text" name="channel_2" id="channel_2" 
            value="{{ session.get('loaded_config', {}).get('channel_names', {}).get('channel_2', 'EEG2') }}">
      <label>Channel 3</label>
      <input type="text" name="channel_3" id="channel_3" 
            value="{{ session.get('loaded_config', {}).get('channel_names', {}).get('channel_3', 'EEG3') }}">
    </fieldset>

    <!-- Device-specific settings grouped by your device map keys -->
    <fieldset id="data_rate">
      <legend>Data Rate</legend>
      <label>Data Rate</label>
      <input type="number" name="data_rate" id="data_rate" 
            value="{{ session.get('loaded_config', {}).get('data rate', {}).get('data_rate', '') }}">
    </fieldset>

    <fieldset id="configuration">
      <legend>Configuration</legend>
      <label>Base Configuration Name</label>
      <input type="text" name="base_configuration_name" id="base_configuration_name" 
            value="{{ session.get('loaded_config', {}).get('configuration', {}).get('base_configuration_name', '') }}">
    </fieldset>

    <fieldset id="highpass">
      <legend>Highpass Filter</legend>
      {% for i in range(4) %}
        <label>Preamp Highpass {{ i }}</label>
        <input type="number" name="preamp_highpass_{{ i }}" id="preamp_highpass_{{ i }}" 
              value="{{ session.get('loaded_config', {}).get('highpass', {}).get('preamp_highpass_' ~ i, '') }}">
      {% endfor %}
    </fieldset>

    <fieldset id="lowpass">
      <legend>Lowpass Filter</legend>
      {% for i in range(4) %}
        <label>Lowpass Ch {{ i }}</label>
        <input type="number" name="lowpass_ch{{ i }}" id="lowpass_ch{{ i }}" 
              value="{{ session.get('loaded_config', {}).get('lowpass', {}).get('lowpass_ch' ~ i, '') }}">
      {% endfor %}
    </fieldset>

    <fieldset id="dc_mode">
      <legend>DC Mode</legend>
      {% for i in range(4) %}
        <label>DC Mode {{ i }}</label>
        <input type="number" name="dc_mode_{{ i }}" id="dc_mode_{{ i }}" 
              value="{{ session.get('loaded_config', {}).get('dc mode', {}).get('dc_mode_' ~ i, '') }}">
      {% endfor %}
    </fieldset>

    <fieldset id="bias">
      <legend>Bias</legend>
      {% for i in range(4) %}
        <label>Bias {{ i }}</label>
        <input type="number" name="bias_{{ i }}" id="bias_{{ i }}" 
              value="{{ session.get('loaded_config', {}).get('bias', {}).get('bias_' ~ i, '') }}">
      {% endfor %}
    </fieldset>

    <fieldset id="offsets">
      <legend>Offsets</legend>
      <label>Offsets</label>
      <input type="text" name="offsets" id="offsets" 
            value="{{ session.get('loaded_config', {}).get('offsets', {}).get('offsets', '') }}">
    </fieldset>

    <fieldset id="preamp_adc">
      <legend>Preamp ADC</legend>
      <label>Preamp ADC</label>
      <input type="number" name="preamp_adc" id="preamp_adc" 
            value="{{ session.get('loaded_config', {}).get('preamp adc', {}).get('preamp_adc', '') }}">
    </fieldset>

    <fieldset id="ogim_adc">
      <legend>OGIM ADC</legend>
      <label>OGIM ADC</label>
      <input type="number" name="ogim_adc" id="ogim_adc" 
            value="{{ session.get('loaded_config', {}).get('ogim adc', {}).get('ogim_adc', '') }}">
    </fieldset>

    <fieldset id="invert">
      <legend>Invert</legend>
      {% for ch in ['A', 'B', 'C', 'D'] %}
        <label>Invert {{ ch }}</label>
        <input type="checkbox" name="invert_{{ ch }}" id="invert_{{ ch }}" value="true" 
              {% if session.get('loaded_config', {}).get('invert', {}).get('invert_' ~ ch, '') == 'true' %}checked{% endif %}>
      {% endfor %}
    </fieldset>

    <fieldset id="average">
      <legend>Average</legend>
      {% for ch in ['A', 'B', 'C', 'D'] %}
        <label>Average {{ ch }}</label>
        <input type="checkbox" name="average_{{ ch }}" id="average_{{ ch }}" value="true" 
              {% if session.get('loaded_config', {}).get('average', {}).get('average_' ~ ch, '') == 'true' %}checked{% endif %}>
        <label>Average Count {{ ch }}</label>
        <input type="number" name="average_count_{{ ch }}" id="average_count_{{ ch }}" 
              value="{{ session.get('loaded_config', {}).get('average', {}).get('average_count_' ~ ch, '') }}">
      {% endfor %}
    </fieldset>

    <fieldset id="ss_config">
      <legend>Second Stage Config</legend>
      {% for i in range(4) %}
        <label>SS Config {{ i }}</label>
        <input type="number" name="ss_config_{{ i }}" id="ss_config_{{ i }}" 
              value="{{ session.get('loaded_config', {}).get('ss config', {}).get('ss_config_' ~ i, '') }}">
      {% endfor %}
    </fieldset>

    <fieldset id="mux_mode">
      <legend>Mux Mode</legend>
      <label>Mux Mode</label>
      <input type="number" name="mux_mode" id="mux_mode" 
            value="{{ session.get('loaded_config', {}).get('mux mode', {}).get('mux_mode', '') }}">
    </fieldset>

    <fieldset id="ttl_config">
      <legend>TTL Config</legend>
      <label>TTL Config</label>
      <input type="number" name="ttl_config" id="ttl_config" 
            value="{{ session.get('loaded_config', {}).get('ttl config', {}).get('ttl_config', '') }}">
      <label>TTL Output Config</label>
      <input type="number" name="ttl_output_config" id="ttl_output_config" 
            value="{{ session.get('loaded_config', {}).get('ttl config', {}).get('ttl_output_config', '') }}">
      <label>TTL Input Config</label>
      <input type="number" name="ttl_input_config" id="ttl_input_config" 
            value="{{ session.get('loaded_config', {}).get('ttl config', {}).get('ttl_input_config', '') }}">
      <label>TTL Outputs</label>
      <input type="number" name="ttl_outputs" id="ttl_outputs" 
            value="{{ session.get('loaded_config', {}).get('ttl config', {}).get('ttl_outputs', '') }}">
    </fieldset>

    <fieldset id="input_ground">
      <legend>Input Ground</legend>
      {% for ch in ['A', 'B', 'C', 'D'] %}
        <label>Input Ground {{ ch }}</label>
        <input type="checkbox" name="input_ground_{{ ch }}" id="input_ground_{{ ch }}" value="true" 
              {% if session.get('loaded_config', {}).get('input ground', {}).get('input_ground_' ~ ch, '') == 'true' %}checked{% endif %}>
      {% endfor %}
      <label>Input Ground All</label>
      <input type="checkbox" name="input_ground_all" id="input_ground_all" value="true" 
            {% if session.get('loaded_config', {}).get('input ground', {}).get('input_ground_all', '') == 'true' %}checked{% endif %}>
    </fieldset>

    <fieldset id="usb">
      <legend>USB</legend>
      <label>USB Delay</label>
      <input type="number" name="usb_delay" id="usb_delay" 
            value="{{ session.get('loaded_config', {}).get('usb', {}).get('usb_delay', '') }}">
      <label>Fastest Clock</label>
      <input type="number" name="fastest_clock" id="fastest_clock" 
            value="{{ session.get('loaded_config', {}).get('usb', {}).get('fastest_clock', '') }}">
      <label>Fastest Clock Init</label>
      <input type="number" name="fastest_clock_init" id="fastest_clock_init" 
            value="{{ session.get('loaded_config', {}).get('usb', {}).get('fastest_clock_init', '') }}">
    </fieldset>

    <div id="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </div>


      <div class="form-buttons">
        <button type="submit" style="background-color:#678b5b; color:white; margin-top:25px;">OK</button>
        <button type="reset" style="background-color:#d9d9d9; margin-top:25px;">Reset</button>
	<button type="reset" id="home-button" style="background-color: #A3B18A; color:white; margin-top:25px;"><a href="/" target="_self">Home</a></button>
      </div>
    </form>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

