<!DOCTYPE html>
<html>
<head>
  <title>Pod 8206HR Device Config</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
  <style>
	@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
  </style>
</head>
<body>
  <div class="sidebar" id="device-bar">
    <img class="logo" src="https://media.licdn.com/dms/image/v2/D560BAQG9I395oxYI5w/company-logo_200_200/company-logo_200_200/0/1712162628607/pinnacle_technology_inc_logo?e=2147483647&v=beta&t=Wl2Gb4isQgj6UHdQl3qJOOrUPaWysx0FxuWh9GyN_v8"></img>
    <h1 id="morelia"><a href="/" target="_self">Morelia</a></h1>
    <label for="device_type">Device Type</label>
    <select id="device_type" size="5">
      <option value="/Pod8206HR" selected>Pod8206HR</option>
      <option value="/Pod8229">Pod8229</option>
      <option value="/Pod8274D">Pod8274D</option>
      <option value="/Pod8401HR">Pod8401HR</option>
      <option value="/Pod8480SC">Pod8480SC</option>
    </select>    

    <button id="load_config" type="button" onclick="document.getElementById('config-file').click();">Load Device Configuration</button>

    <form id="load-config-form" action="/load_config" method="post" enctype="multipart/form-data" style="display: none;">
      <input type="file" id="config-file" name="config_file" accept=".toml" onchange="document.getElementById('load-config-form').submit();">
    </form>

    <button id="clear_config" type="button" style="background-color: #B7B6B6" onclick="clearLoadedConfig()" {% if not session.get("loaded_config") %}disabled{% endif %}>
    Clear Loaded Configuration</button>
    
    <button id="save_config" type="submit" form="device-form" style="background-color: #A3B18A">Save Device Configuration</button>
  </div>
  <div class="main-content" id="device-config">
    <h2>Devices | Configuration</h2>
    <div class="settings-bar">
      <h3 style="margin:10px;">Settings > 8206HR</h3>
    </div>

	<form method="POST" action="/submit-config">
	  <label for="config_name">Config. File Name</label>
	  <input type="text" name="filename" id="filename"
	    value="{{ session.get('loaded_config', {}).get('filename', '') }}">

	<form method="POST" action="/submit-config">
	  <fieldset>
	    <legend>General Configuration</legend>
	     
	    <!--Sample Rate-->
	    <label for="sample_rate">Sample Rate (Hz):</label>
	    <p>Sets the sample rate of the system, in Hz. Valid values are 100 - 2000 currently (could be up to 4000 in the future).</p>
	    <input
	      type="number"
	      id="sample_rate"
	      name="sample_rate"
	      min="100"
	      max="2000"
	      required
	      value="{{ session.get('loaded_config', {}).get('information', {}).get('sample_rate', '') }}"
	    >
	  </fieldset>

	  <!--Lowpass Filters-->
	  <fieldset>
	    <legend>Lowpass Filters (Hz)</legend>
	    <p>Sets the lowpass filter for the desired channel (0 = EEG1, 1 = EEG2, 2 = EEG3/EMG) to the desired value (11 - 500) in Hz.</p>
	    
	    <label for="lowpass_ch0">Channel 0:</label>
	    <input
	      type="number"
	      id="lowpass_ch0"
	      name="lowpass_ch0"
	      min="11"
	      max="500"
	      required
	      value="{{ session.get('loaded_config', {}).get('channel settings', {}).get('lowpass_ch0', '') }}"
	    >

	    <label for="lowpass_ch1">Channel 1:</label>
	    <input
	      type="number"
	      id="lowpass_ch1"
	      name="lowpass_ch1"
	      min="11"
	      max="500"
	      required
	      value="{{ session.get('loaded_config', {}).get('channel settings', {}).get('lowpass_ch1', '') }}"
	    >

	    <label for="lowpass_ch2">Channel 2:</label>
	    <input
	      type="number"
	      id="lowpass_ch2"
	      name="lowpass_ch2"
	      min="11"
	      max="500"
	      required
	      value="{{ session.get('loaded_config', {}).get('channel settings', {}).get('lowpass_ch2', '') }}"
	    >
	  </fieldset>

	  <!--TTL Controls-->
	  <fieldset>
	    <legend>TTL Controls</legend>
	    <p>Sets the selected TTL pin (0,1,2,3) to an output and sets the value (0-1).</p>
	    <label for="ttl_pin0">TTL Pin 0 (0 or 1):</label>
	    <input
	      type="number"
	      id="ttl_pin0"
	      name="ttl_pin0"
	      min="0"
	      max="1"
	      required
	      value="{{ session.get('loaded_config', {}).get('ttl controls', {}).get('ttl_pin0', '') }}"
	    >

	    <label for="ttl_pin1">TTL Pin 1 (0 or 1):</label>
	    <input
	      type="number"
	      id="ttl_pin1"
	      name="ttl_pin1"
	      min="0"
	      max="1"
	      required
	      value="{{ session.get('loaded_config', {}).get('ttl controls', {}).get('ttl_pin1', '') }}"
	    >

	    <label for="ttl_pin2">TTL Pin 2 (0 or 1):</label>
	    <input
	      type="number"
	      id="ttl_pin2"
	      name="ttl_pin2"
	      min="0"
	      max="1"
	      required
	      value="{{ session.get('loaded_config', {}).get('ttl controls', {}).get('ttl_pin2', '') }}"
	    >

	    <label for="ttl_pin3">TTL Pin 3 (0 or 1):</label>
	    <input
	      type="number"
	      id="ttl_pin3"
	      name="ttl_pin3"
	      min="0"
	      max="1"
	      required
	      value="{{ session.get('loaded_config', {}).get('ttl controls', {}).get('ttl_pin3', '') }}"
	    >
	
	    <!--TTL Port-->
	    <input
	      type="hidden"
	      id="ttl_port"
	      name="ttl_port"
	      value="{{ session.get('loaded_config', {}).get('ttl controls', {}).get('ttl_port', '') }}"
	    >
	  </fieldset>

	    <!--Filter Config-->
	    <input
              type="hidden"
	      id="filter_config"
	      name="filter_config"
	      value="{{ session.get('loaded_config', {}).get('filter_config', {}).get('filter_config', '') }}"
	    >
    
    <div id="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </div>
      <div class="form-buttons">
        <button type="submit" style="background-color:#678b5b; color:white; margin-top:25px;">OK</button>
	<button type="reset" style="background-color:#d9d9d9; margin-top:25px;">Reset</button>
        <button type="reset" id="home-button" style="background-color: #A3B18A; color:white; margin-top:25px;"><a href="/" target="_self">Home</a></button>
      </div>
    </form>

  </div>  
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
